config/sas-gelsandbox-9d9428a3f3f7.json
config/sas-ivnard-4e6677812b97.json
docs/*
data/interim/*
data/processed/*
env/*
references/*
test/*
docker/jupyterlab/kaggle.json


__pycache__/
*.py[cod]
*$py.class
.idea/
.log
.png
.idea
*.pyc
.ipynb_checkpoints
.DS_Store
*.pem