config/sas-gelsandbox-9d9428a3f3f7.json
docs/*
data/interim/*
data/processed/*
env/*
references/*
test/*
docker/jupyterlab/kaggle.json
run.py


__pycache__/
*.py[cod]
*$py.class
.idea/
.log
.png
*.sh
.idea
*.pyc
.ipynb_checkpoints
.DS_Store
*.pem