config/*
docs/*
data/interim/*
data/processed/*
references/*
src_temp/*
test_temp/*
docker/jupyterlab/kaggle.json
run.py


__pycache__/
*.py[cod]
*$py.class
.idea/
.log
.png
*.sh
.idea
*.pyc
.ipynb_checkpoints
.DS_Store